127.0.0.1	     localhost.localdomain	 localhost
::1		         localhost.localdomain	 localhost
10.154.205.197   r1.relops.com           r1
10.179.45.45     r2.relops.com           r2
10.184.93.228    r3.relops.com           r3

