127.0.0.1	     localhost.localdomain	 localhost
::1		         localhost.localdomain	 localhost
10.81.132.230    r1.relops.com           r1
10.185.233.139   r2.relops.com           r2
10.184.53.112    r3.relops.com           r3

