worker_processes  1;

events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;

    server {
        access_log /var/log/nginx/access-ssl.log;
        listen 80;

        proxy_set_header X-Forwarded-For $remote_addr;

        location / {
            client_body_buffer_size 128k;
            proxy_send_timeout   90;
            proxy_read_timeout   90;
            proxy_buffer_size    4k;
            proxy_buffers     16 32k;
            proxy_busy_buffers_size 64k;
            proxy_temp_file_write_size 64k;
            proxy_connect_timeout 30s;
            proxy_pass   http://127.0.0.1:15672;
            proxy_set_header   Host   $host;
            proxy_set_header   X-Real-IP  $remote_addr;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        }

    }
}
